{{#extends 'base'}}

{{#block 'content'}}

<div class="row m-0">
    {{!-- Navigation --}}
    <div class="row m-0 col-2 px-4 pt-4 border-end">
        <ul class="nav nav-pills flex-column p-0">
            <li class="nav-item">
                <a class="nav-link px-2" aria-current="page" href="/products">View Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2" href="/products/create">Add Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2" href="/products/essential-oils">View Essential Oils</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2" href="/products/essential-oils/create">Add Essential Oils</a>
            </li>
        </ul>
    </div>
    
    <div class="row m-0 col-10 px-4 pt-4">
         <div class="pb-3 mb-3 border-bottom">
            <h4 class="display-6">Delete Essential Oil</h4>
            <p class="lead">{{essentialoil.name}} (ID: #{{essentialoil.id}})</p>
        </div>

        <form method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
            <div class="py-3">
                <p>Are you sure you want to delete {{essentialoil.name}}?</p>
                <div class="alert alert-light shadow-sm border border-0 border-start border-danger border-3 rounded-0" role="alert">
                    <div class="d-flex align-items-center pt-2">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        <h4 class="alert-heading mb-0">Warning</h4>
                    </div>
                    <hr>
                    <p>By deleting this, you will permanently lose all records of {{essentialoil.name}} Products. This action cannot be undone.</p>
                </div>
                <input type="submit" class="btn btn-danger" value="Yes, Delete"/>
                <a href="/products/essential-oils" class="btn btn-outline-secondary">No, Keep</a>
            </div>
        </form>
    </div>
</div>
{{/block}}

{{/extends}}