{{#extends 'base'}}

{{#block 'content'}}

 <div class="row m-0">
    {{!-- Tables --}}
    <div class="row m-0 px-4 pt-4">
         <div class="d-flex justify-content-between pb-3">
            <h4 class="display-6">View Products</h4>
            <div class="d-flex align-items-center">
                <a class="btn btn-primary" href="/products/essential-oils/create" role="button"><i class="bi bi-plus"></i>Add New Essential Oil</a>
            </div>
        </div>

        {{!-- Navigation --}}
        <ul class="nav nav-items mb-3 border-0 border-bottom" role="tablist">
            <li class="nav-item"><a class="nav-link lead text-muted" href="/products">All Products</a></li>
            <li class="nav-item border-0 border-bottom border-3 border-primary"><a class="nav-link active lead" href="/products/essential-oils">All Essential Oils</a></li>
        </ul>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Application</th>
                    <th>Directions</th>
                    <th>Beauty Benefits</th>
                    <th>Body Benefits</th>
                    <th>Emotional Benefits</th>
                    <th>Action</th>
                    <th></th>
                </tr>

            </thead>
            <tbody>
                {{#each essentialoils}}
                <tr>
                    <td>
                        #{{this.id}}
                    </td>
                    <td>
                        {{this.name}}
                    </td>
                    <td>
                        {{this.description}}
                    </td>
                    <td>
                        {{this.application}}
                    </td>
                    <td>
                        {{this.directions}}
                    </td>
                    <td>
                        {{this.beauty_benefits}}
                    </td>
                    <td>
                        {{this.body_benefits}}
                    </td>
                    <td>
                        {{this.emotional_benefits}}
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-gear-fill"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item btn btn-primary btn-sm" href="/products/essential-oils/{{this.id}}/update">Update</a></li>
                                <li><a class="dropdown-item btn btn-danger btn-sm" href="/products/essential-oils/{{this.id}}/delete">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
        
</div>
{{/block}}
{{/extends}}