{{#extends 'base'}}

{{#block 'content'}}
<h2>All Products</h2>
<a class="btn btn-primary" href="/essential-oils/create" role="button">Add New</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Size</th>
            <th>Price</th>
            <th>Note</th>
            <th>Stock</th>
        </tr>

    </thead>
    <tbody>
        {{#each products}}
            <tr>
                <td>
                    {{this.id}}
                </td>
                <td>
                    {{this.name}}
                </td>
                <td>
                    {{this.size.size}}
                </td>
                <td>
                    {{this.price}}
                </td>
                <td>
                    {{this.note.name}}
                </td>
                <td>
                    {{this.stock}}
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}

{{/extends}}