{{#extends 'base'}}

{{#block 'content'}}

 <div class="d-flex">
    {{!-- Navigation --}}
    <div class="pe-3">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/products">View Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products/create">Add Products</a>
            </li>
            <li>
                <hr/>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products/essential-oils">View Essential Oils</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products/essential-oils/create">Add Essential Oils</a>
            </li>
        </ul>
    </div>

    {{!-- Table --}}
    <div class="w-75 ms-3">
        <div class="pb-3 mb-3 border-bottom">
            <h4 class="display-6">All Products</h4>
        </div>
        {{!-- Search Essential Oil --}}
        <div>
            <form method="GET">

                <p>
                    <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <i class="bi bi-funnel"></i>
                        Filter
                    </button>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="row">
                        {{{form}}}
                    </div>
                    <div class="d-flex justify-content-end py-3">
                        <button class="btn btn-primary mx-2" type="submit">Filter</button>
                        <a class="btn btn-outline-primary" href="/products" role="button">Reset</a>
                    </div>
                </div>             
            </form>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Price(SGD)</th>
                    <th>Item Type</th>
                    <th>Scent</th>
                    <th>Usage</th>
                    <th>Benefits</th>
                    <th>Stock</th>
                    <th>Action</th>
                    <th></th>
                </tr>

            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td>
                        {{this.id}}
                    </td>
                    <td>
                        {{#if this.image}}
                            <img src="{{this.image}}" class="img-fluid" width="150" height="150"/>
                        {{/if}}
                    </td>
                    <td>
                        {{this.essentialoil.name}}
                    </td>
                    <td>
                        {{this.size.size}}
                    </td>
                    <td>
                        {{this.price}}
                    </td>
                    <td>
                        {{this.note.name}}
                    </td>
                    <td>
                        {{#each this.scent}}
                            <span class="badge bg-primary">{{this.type}}</span>
                        {{/each}}
                    </td>
                    <td>
                        {{#each this.usage}}
                            <span class="badge bg-primary">{{this.type}}</span>
                        {{/each}}
                    </td>
                    <td>
                        {{#each this.benefit}}
                            <span class="badge bg-primary">{{this.type}}</span>
                        {{/each}}
                    </td>
                    <td>
                        {{this.stock}}
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="/products/{{this.id}}/update">Update</a>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm" href="/products/{{this.id}}/delete">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

</div>
{{/block}}
{{/extends}}