{{#extends 'base'}}

{{#block 'content'}}
<div class="py-3">
    <h2>Products</h2>
</div>

 <div class="d-flex">
    {{!-- Navigation --}}
    <div class="w-25 p-3 bg-light">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/essential-oils">View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/essential-oils/create">Add</a>
            </li>
            <li>
                <hr/>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Edit Essential Oils Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Edit Note</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Edit Size</a>
            </li>
        </ul>
    </div>
        
    {{!-- Tables --}}
    <div class="w-75 ms-3">
        <h4>View All Products</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Price(SGD)</th>
                    <th>Note</th>
                    <th>Scent</th>
                    <th>Stock</th>
                    <th></th>
                </tr>

            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td>
                        {{this.id}}
                    </td>
                    <td>
                        {{this.image}}
                    </td>
                    <td>
                        {{this.essentialoil.name}}
                    </td>
                    <td>
                        {{this.size.size}}
                    </td>
                    <td>
                        {{this.price}}
                    </td>
                    <td>
                        {{this.note.name}}
                    </td>
                    <td>
                        {{#each this.scent}}
                            <span class="badge bg-primary">{{this.type}}</span>
                        {{/each}}
                    </td>
                    <td>
                        {{this.stock}}
                    </td>
                    <td>
                    <a class="btn btn-primary btn-sm" href="/essential-oils/{{this.id}}/update">Update</a>
                    {{!-- <a class="btn btn-danger btn-sm" href="/posters/{{this.id}}/delete">Delete</a> --}}
                </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
        
</div>
{{/block}}
{{/extends}}