{{#extends 'base'}}

{{#block 'content'}}

 <div class="row m-0">
    {{!-- Navigation --}}
    <div class="row m-0 col-2 px-4 pt-4 border-end">
        <ul class="nav nav-pills flex-column p-0">
            <li class="nav-item">
                <a class="nav-link px-2" aria-current="page" href="/products">View Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2" href="/products/create">Add Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2" href="/products/essential-oils">View Essential Oils</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2" href="/products/essential-oils/create">Add Essential Oils</a>
            </li>
        </ul>
    </div>

    {{!-- Table --}}
    <div class="row col-10 m-0 px-4 pt-4">
        <div class="d-flex justify-content-between pb-3 mb-3 border-bottom">
            <h4 class="display-6">All Products</h4>
            <div class="d-flex align-items-center">
                <a class="btn btn-primary" href="/products/create" role="button"><i class="bi bi-plus"></i>Add New</a>
            </div>
        </div>
        {{!-- Search Essential Oil --}}
        <div>
            <form method="GET">

                <div class="py-3">
                    <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <i class="bi bi-funnel"></i>
                        Filter
                    </button>
                    <a class="btn btn-link" href="/products" role="button">Reset</a>
                </div>
                <div class="collapse pt-2 pb-3" id="collapseExample">
                    <div class="row">
                        {{{form}}}
                    </div>
                    <div class="d-flex justify-content-end py-3">
                        <button class="btn btn-primary mx-2" type="submit">Apply Filter</button>
                    </div>
                </div>             
            </form>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Price(cents)</th>
                    <th>Item Type</th>
                    <th>Scent</th>
                    <th>Usage</th>
                    <th>Benefits</th>
                    <th>Stock</th>
                    <th>Action</th>
                    <th></th>
                </tr>

            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td>
                        #{{this.id}}
                    </td>
                    <td>
                        {{#if this.image}}
                            <img src="{{this.image}}" class="img-fluid" width="150" height="150"/>
                        {{/if}}
                    </td>
                    <td>
                        {{this.essentialoil.name}}
                    </td>
                    <td>
                        {{this.size.size}}
                    </td>
                    <td>
                        {{this.price}}
                    </td>
                    <td>
                        {{this.note.name}}
                    </td>
                    <td>
                        {{#each this.scent}}
                            <span class="badge bg-primary">{{this.type}}</span>
                        {{/each}}
                    </td>
                    <td>
                        {{#each this.usage}}
                            <span class="badge bg-primary">{{this.type}}</span>
                        {{/each}}
                    </td>
                    <td>
                        {{#each this.benefit}}
                            <span class="badge bg-primary">{{this.type}}</span>
                        {{/each}}
                    </td>
                    <td>
                        {{this.stock}}
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-gear-fill"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item btn btn-primary btn-sm" href="/products/{{this.id}}/update">Update Product</a></li>
                                <li><a class="dropdown-item btn btn-danger btn-sm" href="/products/{{this.id}}/delete">Delete Product</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{/block}}
{{/extends}}